<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">회사 식수등록</a>
      
      <!-- <a class="nav-link" (click)="log_out">{{id}}</a> -->
      </div>     
      <ul class="navbar-nav" *ngIf="id.length > 2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{id}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="logOut">logOut</a></li>
          </ul>
        </li>
      </ul>
      
</nav>