.navbar{
    background-color: #d4e9f1;
    /*border-bottom: 1px solid #422e08;*/
}

.page-footer{
    /*border-top: 1px solid #422e08;*/
    background-color: #000000;
    color: #ffffff;    
}

.navbar-light .navbar-nav .nav-link{
    color: #000000;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.navbar-brand{
    color: #000000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #acdeeb;
    text-decoration: underline;
} 

.logo-nav{
    height: 50px;
}
/* https://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-or-right-aligned-items */
.nav-item{
    min-width: 200px;
}

.app-wrapper{
    min-height: 70%;
}


